# OS / editor junk
.DS_Store

# Environment and quickcheck
environment_full.yml
trust4_quickcheck.ipynb

# Ignore data + results (raw, processed, etc.)
bcr-bulk-demo/data/
bcr-bulk-demo/results/

# Common big file types
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam

